@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --color-background: var(--bk-color);
  --color-foreground: var(--wt-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
    --wt-color: #F7F7F7;
    --bk-color: #0a0a0a;
    --primary-color: #ed145b;
    --secondary-color: #00adf1;
    --en-font: "Maven Pro", sans-serif;
    --bn-font: "Hind Siliguri", sans-serif;
    --poppins-font: "Poppins", serif;
}
.bg-color{
  background-color:var(--primary-color) ;
}
.text-wt{
  color: var(--wt-color);
}
.text-bk{
  color: var(--bk-color);
}
.text-pry{
  color: var(--primary-color);
}
.text-sec{
  color: var(--secondary-color);
}

.bg-primary{
  background-color: var(--primary-color);
}
.bg-secondary{
  background-color: var(--secondary);
}
.bg-secondary-hover{
  background-color: var(--primary-color);
}
.bg-secondary-hover{
  background-color: var(--secondary-color);
}
.border-pry{
  border-color: var(--primary-color);
}
.border-sec{
  border-color: var(--secondary-color);
}



@media (prefers-color-scheme: dark) {
  :root {
    --bk-color: #0a0a0a;
      --wt-color: #ededed;
  }
}

body {


  font-family: Arial, Helvetica, sans-serif;
}
