@import "tailwindcss";
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;



@theme inline {
  --color-background: var(--bk-color);
  --color-foreground: var(--wt-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
    scroll-behavior: smooth;
}

:root {
    --wt-color: #F7F7F7;
    --bk-color: #0a0a0a;
    --primary-color: #f45388;
    --secondary-color: #00adf1;
    --en-font: "Maven Pro", sans-serif;
    --bn-font: "Hind Siliguri", sans-serif;
    --poppins-font: "Poppins", serif;
}

/* ====================color====================== */
.bg-color{
  background-color:var(--primary-color) ;
}
.text-wt{
  color: var(--wt-color);
}
.text-bk{
  color: var(--bk-color);
}
.text-pry{
  color: var(--primary-color);
}
.text-sec{
  color: var(--secondary-color);
}
/* ====================background====================== */
.bg-pry{
  background-color: var(--primary-color);
}
.bg-sec{
  background-color: var(--secondary-color);
}
/*======================  hover================== */

.hover-bg-pry:hover{
  background-color: var(--primary-color);
}
.hover-bg-sec:hover{
  background-color: var(--secondary-color);
}
.hover-text-pry:hover{
  color: var(--primary-color);

}
.hover-text-sec:hover{
  color: var(--secondary-color);

}

/* =============border color======================================= */
.border-pry{
  border-color: var(--primary-color);
}
.border-sec{
  border-color: var(--secondary-color);
}

/* ====================category DropDwen====================== */
@layer utilities {
  .animate-slideDown {
    animation: slideDown 0.3s ease-out forwards;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bk-color: #0a0a0a;
      --wt-color: #ededed;
  }
}

body {


  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
 
  
}
.swiper-button-prev-custom{
  background-color: var(--primary-color)!important;
  color:var(--wt-color)!important;
}
.swiper-button-next-custom{
  background-color: var(--primary-color)!important;
  color:var(--wt-color)!important;
}
.home_categorics {
    background: #f45388;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_categorics p {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
}


@media only screen and (min-width:320px) and (max-width:767px) {

.home_categorics p {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-weight: 500;
}

}
@media only screen and (min-width:768px) and (max-width:1023px) {

}